* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100%;
}
html,
body {
	background-color: #d7dbff;
	height: 100vh;
}
/* styling for the general topnav */
#topnav {
	display: flex;
	color: #0d1848;
	margin: auto;
	padding: 15px;
	width: 100%;
	height: 70px;
	position: relative;
	/* overflow: hidden; */
}
/* styling for the search bar */
.search {
	display: flex;
	margin: auto;
	margin-left: 100px;
	/* margin-right: 50px; */
	border: 1px solid #0d1848;
	border-radius: 8px;
	padding: 2px;
	padding-left: 15px;
}
.search input {
	border: none;
	border-right: none;
	border-radius: 5px;
	padding: 2px;
	background-color: #d7dbff;
}
.search button {
	border: none;
	background-color: #d7dbff;
	padding-left: 50px;
}
#topnav a {
	text-decoration: none;
	margin-left: 25px;
	margin-top: 10px;
	color: #0d1848;

	text-align: center;
	padding-left: 20px;
}
i {
	text-align: center;
	margin: auto;
	color: black;
	opacity: 0.5;
}
#profile img {
	width: 50px;
	height: 50px;
	border: 1px solid;
	border-radius: 50%;
	margin-left: 15px;
	float: left;
}
#profile a {
	margin: auto;
	padding: 15px;
	justify-self: center;
}
/* styling for the sidebar */
#main {
	display: flex;
	width: 100%;
	height: 100vh;
}
#sidebar {
	height: 100vh;
	width: 10%;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	margin: 20px;
}
#sidebar a {
	text-decoration: none;
	display: block;
}
#sidebar a.active {
	border: 1px black;
	border-radius: 8px;
	background-color: #ffffff;
}
a:hover {
	background-color: #ffffff;
	border-radius: 8px;
	transition-delay: 0.2s;
}

/* styling for the main dashboard area */
#dashboard {
	background-color: #ffffff;
	width: 80%;
	height: 100vh;
	border-radius: 20px;
	padding: 15px;
	color: #ffffff;
	margin: 15px;
}

#first {
	display: flex;
	padding: 20px;
}
#first .box1 {
	background-color: #121955;
	border-radius: 15px;
	width: 60%;
	margin-right: 30px;
	border: 1px solid black;
	height: 100%;
}
/* this styling helps me flex the image to the right */
.flexed {
	display: flex;
}

.box1 button {
	background-color: #3834ff;
	width: 100px;
	height: 30px;
	color: #ffffff;
	margin: 10px;
	padding: 5px;
	border-radius: 8px;
}
.box1 h3 {
	text-align: start;
}

#first .box2 {
	background-color: #d7dbff;
	border-radius: 15px;
	color: #0d1848;
	align-items: center;
	display: flex;
	width: 40%;
	margin-left: 30px;
	padding: 45px;
	height: 100%;
}

.box2 li {
	flex-direction: column;
	list-style: none;
	font-size: x-large;
}
#second {
	display: flex;
	width: 100%;
	height: 200px;
	padding: 30px;
	text-align: center;
}
#second .box1 {
	background-color: #156c7f;
	margin-right: 30px;
	padding-top: 30px;
	border-radius: 8px;
}
#second .box2 {
	background-color: #156c7f;
	margin-right: 30px;
	padding-top: 30px;
	border-radius: 8px;
}

#second .box3 {
	background-color: #156c7f;
	padding-top: 30px;
	border-radius: 8px;
}
/* #third { */
/* display: flex; */
/* width: 100%; */
/* height: 200px;
	padding: 30px;
} */
#third {
	display: flex;
	justify-content: space-around;
	margin: 5px;
	margin-left: 10px;
	margin-right: 20px;
}

.done {
	text-align: center;
}
.done button {
	background-color: #3834ff;
	width: 100px;
	height: 30px;
	color: #ffffff;
	border-radius: 8px;
}

#fourth {
	background-color: #121955;
	text-align: center;
	padding: 30px;
	border-radius: 8px;
	margin: 5px;
	font-size: large;
	height: 140px;
}

#fourth a {
	background-color: #3834ff;
	width: 100px;
	height: 30px;
	color: #ffffff;
	margin: 40px;
	padding: 10px;
	border-radius: 8px;
	text-decoration: none;
}
