@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@700&family=Inter:wght@600&family=Lexand+Deca&display=swap")

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@700&family=Inter:wght@600&family=Lexend+Deca&family=Roboto:wght@500&display=swap');

*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
  background-color: #1e1e1e;
  background-repeat: no-repeat;
  padding-top: 40px;
  width: 100vw;
  height: 100vh;
}
.form-wrapper{
  max-width: 670px;
  margin: 0 auto;
}
.form-container{
  display: flex;
  align-items: stretch;
  color: #002333;
}
.form-left{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #D7DBff;
}

.logo{
  position: absolute;
  width: 30px;
  height: 40px;
  top: 60px;
  color: #C4C4C4;
}
span{
  position: absolute;
  top: 60px;
  font-size: 25px;
  font-family: 'Roboto';
  padding-left: 35px;
  color: #0D1418
}
img{
  width: 250px;
  height: 250px;
  position: relative;
  flex-basis: 50%;
}
.form-right{
  flex-basis: 50%;
  padding: 24px;
  background-color: white;
  height: 450px;
  width: 600px;
}
.dashed-line {
  border: 2px dashed #0D1848;
  width: 80px;
  margin-top: 50px;
  margin-left: 20px;
}
h4{
  color: #C92525;
  font-family: inter;
  font-size: 13px;
  margin-left: 20px;
  margin-top: 30px;
}
form{
  width: 300px;
  margin-left: 20px;
}
form label{
  display: flex;
  margin-top: 30px;
  font-size: 12px;
  font-family: 'roboto';
}
form input{
  width: 95%;
  padding: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
  margin-top: 5px;
}
.chika{
  position: absolute;
  align-items: flex-end;
  color: #263238;
  margin-top: 2px;
  margin-left: 205px;
  font-size: 15px;
  font-family: inter;
}
button{
  width: 95%;
  height: 35px;
  margin-top: 30px;
  border: none;
  font-size: 13px;
  border-radius: 6px;
  background-color: #121955;
  color: #ffffff;
  font-family: Inter;
}
