{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Create Password</title>
		<link href="{% static 'assets/css/createnewpassword.css' %}" rel="stylesheet" type="text/css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@700&family=Inter:wght@600&family=Lexend+Deca&display=swap"
			rel="stylesheet" />
		<link
			href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@700&family=Inter:wght@600&family=Lexend+Deca&family=Roboto:wght@500&display=swap"
			rel="stylesheet" />

		<script
			src="https://kit.fontawesome.com/25f8dddf43.js"
			crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="form-wrapper">
			<div class="form-container">
				<div class="form-left">
					<nav>
						<img src="{% static 'assets/img/crona_icon.png' %}" class="logo" /><span>Authwiki</span>
					</nav>
					<img src="{% static 'assets/img/secured_logn_icon.png' %}" alt="" />
				</div>

				<div class="form-right">
					<h2>Create new<br>Password</h2>
					<h4>
						Create a new password different from the one you've previously used
					</h4>
					<form action="/FRONTEND/Profile page/index.html">
						<label>New password</label>
						<input type="password" placeholder="************" required />
						<i class="fa-sharp fa-solid fa-eye-slash"></i>
						<label> Confirm password</label>
						<input type="password" placeholder="************" required /><i
							class="fa-sharp fa-solid fa-eye-slash"></i>
						<button type="submit">Save password</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
