<!DOCTYPE html>
<html lang="en">
<head lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="{% static 'assets/css/emailverification.css' %}" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@700&family=Inter:wght@600&family=Lexend+Deca&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@700&family=Inter:wght@600&family=Lexend+Deca&family=Roboto:wght@500&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/25f8dddf43.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="form-wrapper">
      <div class="form-container">
      <div class="form-left">
        <nav>
          <img src="{% static 'assets/img/crona_icon.png' %}" class="logo"><span>Authwiki</span>
        </nav>
        <img src="{% static 'assets/img/confirmed_icon.png' %}" alt="">
      </div>

        <div class="form-right">
          <h2>Verify your<br>Email</h2>
          <h4>Please enter the 4 digit codes sent to confidendencekuty@gmail.com</h4>
            <div class="otp">
              <input type="text" maxlength="1" value='8'>
              <input type="text" maxlength="1" value='8'>
              <input type="text" maxlength="1" value='8'>
              <input type="text" maxlength="1" value='8'>
              <div class="chika">
                <h6><u>Resend Code</h6></u>
              </div>
              <a href="#"><button type="submit">Verify</button></a>
            </div>

        </div>

      </div>

    </div>


</body>

</html>
