{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="{% static 'assets/css/forgotpassword.css' %}" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@700&family=Inter:wght@600&family=Lexend+Deca&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@700&family=Inter:wght@600&family=Lexend+Deca&family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>
<body>
  <div class="form-wrapper">
    <div class="form-container">
      <div class="form-left">
        <nav>
          <img src="{% static 'assets/img/crona_icon.png' %}" class="logo"><span>Authwiki</span>
        </nav>
        <img src="{% static 'assets/img/forgot_password_icon.png' %}" alt="">
      </div>

      <div class="form-right">
        <hr class="dashed-line">
        <h4>Pease Enter your Email Address to Receive a Verification Code</h4>
        <form action="{% url 'userapp:emailverification' %}">
          <label>Email Address</label>
          <input type="email" placeholder="someone@example.com" required>
          <div class="chika">
            <h6><u>Try another way</h6></u>

          </div>

          <button type="submit">Send</button>

        </form>
      </div>
    </div>

  </div>
</body>
</html>
